In [1]:
print("Hello")
print('Hello') # DOuble quotes and single quotes works same

Hello
Hello

In [5]:
print("Hello\
        bye")

Hello        bye

In [14]:
print("""
 / '.        .--.
 |   \     .'-,  |
 \    \___/    \_/
  '._.'   '._.'
    /  . .  \
    |=  Y  =|
    \   ^   /
     `'---'`
""")

 / '.        .--.
 |   \     .'-,  |
 \    \___/    \_/
  '._.'   '._.'
    /  . .      |=  Y  =|
    \   ^   /
     `'---'`

In [15]:
print("Hello I am python\'s fan")

Hello I am python's fan

In [16]:
print("hello\a fans")

hello fans

In [17]:
print("hello\t fans")

hello	 fans

In [18]:
print("hello\n fans")

hello
 fans

In [19]:
name = "abhi"
age = 21
marks = 55.568
print("my name is ",name,"my age is ",age,"my marks is ",marks,)

my name is  abhi my age is  21 my marks is  55.568

In [21]:
print(f"my name is {name} my age is {age} my marks is {marks}")

my name is abhi my age is 21 my marks is 55.568

In [22]:
print("my name is %s my age is %d my marks is %f"%(name,age,marks))

my name is abhi my age is 21 my marks is 55.568000

In [24]:
print("my name is %s my age is %5d my marks is %5.2f"%(name,age,marks))

my name is abhi my age is    21 my marks is 55.57

In [28]:
a=b=c=10
id(a)
id(b)
id(c)
print(id(a),id(b),id(c))

140721592967856 140721592967856 140721592967856

In [29]:
a=10
A=16
print(a,A)

10 16

In [30]:
id(a)

140721592967856

In [32]:
id(A)

140721592968048

In [33]:
del A

In [34]:
print(A)

NameError: name 'A' is not defined

In [35]:
a=20
b=40
a**2

400

In [36]:
a+b

60

In [37]:
a-b

-20

In [38]:
a*b

800

In [41]:
a/b

0.5

In [42]:
a//b

0

In [43]:
a%b

20

In [44]:
a == b

False

In [45]:
a<b

True

In [46]:
a>b

False

In [47]:
a<=b

True

In [48]:
a>=b

False

In [49]:
a!=b

True

In [50]:
a and b

40

In [51]:
a or b

20

In [59]:
a | b

108

In [60]:
a & b

32

In [65]:
~a

-101

In [67]:
a^b

76

In [68]:
a<<b

109951162777600

In [71]:
a>>1

50

In [72]:
10>9>9

False

In [73]:
10>9>8

True